.DS_Store
backup/
vim/vimbundles
hashrocket/dotmatrix
#hashrocket/*

# Vim persistent undo files
*.un~

# Only include specific logs
logs/*
!logs/rip_video-commands.log
!logs/rip_video-links.log
!logs/japanese-search-history.log

# Include story files
stories/*
!stories/index
