.DS_Store
*/.DS_Store
**/.DS_Store
backup/
vim/vimbundles
!vim/vimbundles/vim-notes
hashrocket/dotmatrix
#hashrocket/*

# Vim swap files
*.sw?

# Vim persistent undo files
*.un~

# Only include specific logs
logs/*
!logs/rip_video-commands.log
!logs/rip_video-links.log
!logs/japanese-search-history.log

# Include story files
stories/*
!stories/index
fish_history
fishd.*
fish/config/fish/fish_history
tmp/
fish/config/fish/fishd.*
!.keep
bash/home/vimrc.josh.undo_history-2015-02-28
fish/config/direnv/
fish/config/gh-update
